<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center col-md-8 offset-md-3">
        <h1><i class="fas fa-address-book"></i></h1>
        <p>Create an account or login</p>
        <a href="/user/register" class="btn btn-primary btn-block mb-2" style="background-color: rgb(49, 193, 249);"
          >Register</a
        >
        <a href="/user/login" class="btn btn-secondary btn-block" style="background-color: rgb(98, 177, 98);">Login</a>
      </div>
    </div>
  </div>